<main class="main">
    <form #f="ngForm" enctype="multipart/form-data" novalidate *ngIf="currentStatus === STATUS_INITIAL || currentStatus === STATUS_SAVING">
        <div class="container__dropzone">
            <input type="file" multiple [name]="uploadFieldName" class="dropzone" appDragNDrop (filesChangeEmiter)="onFilesChange($event)" (filesInvalidEmiter)="onFilesInvalids($event)" [allowed_extensions]="['png', 'jpg', 'bmp']" [disabled]="currentStatus === STATUS_SAVING" #photos>
            <span class="dropzon-title" *ngIf="currentStatus === STATUS_INITIAL">Drop your image here or click to browse</span>
            <span class="dropzon-title" *ngIf="currentStatus === STATUS_SAVING"> Uploading {{ photos.files.length }} files... </span>
            <div class="image-preview">
            </div>
        </div>

        <div class="dropzone-list">
            <ul class="dropzone-list-valid">
                <li *ngFor="let file of fileList">{{ file.name }}</li>
            </ul>
            <ul class="dropzone-list-invalid">
                <li *ngFor="let file of invalidFiles">{{ file.name }}</li>
            </ul>
        </div>
    </form>
</main>
