/* INDEX.HTML */

.page {
    margin: auto;
    width: 60vw;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: #353637;
}

.header h1 {
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.header__navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #353637;
}

.header__navbar a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

/* LOGIN & HOME */

.main {
    width: 100%;
}

.main h2 {
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

/* LOGIN FORM */

.login-form {
    margin: auto;
    font-size: .8rem
}

.form-group {
    padding: 20px;
}

.form-group input {
    font-size: 1.1rem;
    padding-left: 5px;
    border-radius: 4px;
    width: 60%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.form-group input.ng-touched {
    border-left: solid 5px tomato;
}

.form-group input.ng-valid {
    border-left: solid 5px #20d1ac;
}

.error-message {
    color: tomato;
    background-color: #ffd0d0;
    padding: 5px;
    display: block;
    width: 60%;
    border-radius: 4px;
    margin: auto;
}

.button-group {
    padding: 20px;
    display: flex;
}

.login-button {
    font-size: 1rem;
    font-weight: bold;
    padding: 6px 8px;
    margin: auto;
    border-radius: 4px;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    background-color: #353637;
}

.login-button:not([disabled]):hover {
  color: #353637;
  background-color: white;
}

.login-button[disabled] {
  color : rgba(0, 0, 0, 0.26);
  background-color: transparent;
}
