$coolGray: #353637;

/* INDEX.HTML */

.page {
    margin: auto;
    width: 60vw;
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    color: $coolGray;
    padding-bottom: 50px;
    @media screen
    and (max-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2) {
        width: auto;
    }
}

.header {
    background-color: white;
}

.header h1 {
    padding-top: 75px;
    padding-bottom: 10px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    @media screen
    and (max-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2) {
        font-size: 2rem;
    }
}

.header__navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: $coolGray;
    display: flex;
    justify-content: space-between;
}

.navbar-links {
    display: flex
}

.header__navbar a {
    text-decoration: none;
    color: white;
    padding: 5px;
    align-self: center;
    font-weight: bold;
    border-radius: 4px;
    transition: .5s;
    @media screen
    and (max-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2) {
        display: none
    }
}

.header__navbar a:hover {
    box-shadow: 0px 3px 0px 0px rgba(143,143,143,1);
    transform: translateY(-3px);
    border: .5px solid rgba(143,143,143,1);
    transition: .5s;
}

.main-icon {
    display: inline-block;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    background-image: url(hotel-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

/* LOGIN & HOME */

.main {
    width: 100%;
}

.main h2 {
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

// HAMBURGER
.hamburger-icon {
    @media screen
    and (max-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2) {
        padding: 5px;
        background-image: url(menu.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        height: 30px;
        margin: 5px;
        box-sizing: border-box;
    }
}

.hamburger-menu {
    position: absolute;
    top: 60px;
    right:0px;
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $coolGray;
}

.hamburger-menu a {
    display: none;
    @media screen
    and (max-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2) {
        height: 40px;
        display: inline-block;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
}

/* FORMS */

.login-form {
    margin: auto;
    font-size: .8rem
}

.form-group {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group input {
    font-size: 1.1rem;
    color: $coolGray;
    padding-left: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    border: none;
    border-bottom: solid 2px $coolGray;
}

.form-group input, .error-message {
    width: 25vw;
    min-width: 200px;
}

.form-group input:focus, .meal:focus {
    outline-color: transparent;
    outline-style: none;
    background-color: #f0f0f0;
    transition: all 0.3s linear;
}

.form-group input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.form-group input.ng-touched {
    border-bottom: solid 2px tomato;
    transition: none;
}

.form-group input.ng-valid {
    border-bottom: solid 2px #20d1ac;
    transition: none;
}

.error-message {
    color: tomato;
    background-color: #ffd0d0;
    padding: 5px;
    display: block;
    border-radius: 3px;
    margin: auto;
}

/* LABELS */

label {
    font-size: 1.1rem;
}

/* BUTTON */

.button-group {
    padding: 20px;
    display: flex;
    margin: 0;
    justify-content: center;
}

.login-button {
    font-size: 1rem;
    font-weight: bold;
    padding: 6px 8px;
    border-radius: 4px;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    background-color: $coolGray;
    transition: .5s;
    position: absolute;
}

.login-button:not([disabled]):hover {
    color: $coolGray;
    background-color: white;
    box-shadow: 0px 4px 0px 0px rgba(143,143,143,1);
    transform: translateY(-3px);
    border: .5px solid rgba(143,143,143,1);
    transition: .5s;
}

.login-button[disabled] {
    color : rgba(0, 0, 0, 0.26);
    background-color: transparent;
}

.spinner {
    position: relative;
    left: 60px;
    background-image: url("spinner.gif");
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    margin-left: 5px;
}

/* MEAL PLAN */

.meal {
    font-size: .9rem;
    color: $coolGray;
    width: 50%;
    background-color: white;
}

/* STAR */

.rating {
    // float:left;
    // width:300px;
    display: flex;
    flex-direction: row;
}

.container__star {
    margin: auto;
}

.rating span {
    float:right;
    position:relative;
}

.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}

.star {
    display:inline-block;
    width:35px;
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    text-align:center;
    color:#FFF;
    background-image: url(zstarempty.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
}

.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background-image: url(zstar.svg);
    color:#FFF;
}

.selected {
    background-image: url(zstar.svg);
}
