<main class="main">
    <h2>
        Modify
    </h2>

    <form class="form" #form="ngForm">

        <div class="form-group">
            <label for="">Hotel Name</label>
            <input type="text" class="form-control" name="name"
            required [(ngModel)]="hotelservice.hotel.hotelWithId.data.attributes.name" #name="ngModel" (keypress)="autoSave(hotelservice.hotel.hotelWithId.data.id)" (blur)="updateHotel(hotelservice.hotel.hotelWithId.data.id)">
        </div>

        <div class="form-group">
            <label for="">Locatiton</label>
            <input type="text" class="form-control" name="location"
            required [(ngModel)]="hotelservice.hotel.hotelWithId.data.attributes.location" #location="ngModel">
        </div>

       <div class="form-group">
           <label for="">Stars:</label>
            <output name="amount" for="stars">3</output>
            <input type="range" min="1" max="5" step="1" name="stars" value="0" oninput="amount.value=stars.value" [(ngModel)]="hotelservice.hotel.hotelWithId.data.attributes.stars" #stars="ngModel">
        </div>

        <div class="form-group">
            <label for="">Meal Plan</label>
            <select class="meal" name="meals" [(ngModel)]="hotelservice.hotel.hotelWithId.data.attributes.meal_plan"  #meal1="ngModel">
                <option value="american_plan">American Plan</option>
                <option value="modified_american_plan" name="meal2">Modified American Plan</option>
                <option value="continental_plan" name="meal2">Continental Plan</option>
                <option value="european_plan" name="meal2">European Plan</option>
            </select>

        </div>

        <div class="form-group container__checkbox">
            <div class="form-group-checkbox">
                <input type="checkbox" name="wifi" [(ngModel)]="hotelservice.hotel.hotelWithId.data.attributes.has_wifi" #wifi="ngModel">
                <label for="">Wifi</label>
            </div>

            <div class="form-group-checkbox">
                <input type="checkbox" name="parking" [(ngModel)]="hotelservice.hotel.hotelWithId.data.attributes.has_parking" #parking="ngModel">
                <label for="">Parking</label>
            </div>

            <div class="form-group-checkbox">
                <input type="checkbox" name="pets" [(ngModel)]="hotelservice.hotel.hotelWithId.data.attributes.has_pets" #pets="ngModel">
                <label for="">Pets allowed</label>
            </div>

            <div class="form-group-checkbox">
                <input type="checkbox" name="restaurant" [(ngModel)]="hotelservice.hotel.hotelWithId.data.attributes.has_restaurant" #restaurant="ngModel">
                <label for="">Restaurant</label>
            </div>

            <div class="form-group-checkbox">
                <input type="checkbox" name="bar" [(ngModel)]="hotelservice.hotel.hotelWithId.data.attributes.has_bar" #bar="ngModel">
                <label for="">Bar</label>
            </div>

            <div class="form-group-checkbox">
                <input type="checkbox" name="swimmingpool" [(ngModel)]="hotelservice.hotel.hotelWithId.data.attributes.has_swimming_pool" #swimmingpool="ngModel">
                <label for="">Swimming Pool</label>
            </div>

            <div class="form-group-checkbox">
                <input type="checkbox" name="airconditioning" [(ngModel)]="hotelservice.hotel.hotelWithId.data.attributes.has_air_conditioning" #airconditioning="ngModel">
                <label for="">Air conditioning</label>
            </div>

            <div class="form-group-checkbox">
                <input type="checkbox" name="gym" [(ngModel)]="hotelservice.hotel.hotelWithId.data.attributes.has_gym" #gym="ngModel">
                <label for="">Gym</label>
            </div>
        </div>

        <div class="button-group">
            <button class="send-button" [disabled]="form.invalid" (click)="redirect()" (click)="updateHotel(hotelservice.hotel.hotelWithId.data.id)">Modify</button>
            <span class="spinner" [hidden]="!loading"></span>
        </div>

    </form>

</main>
