<div class="form-group">
          <input type="checkbox" name="wifi" [(ngModel)]="hotelservice.hotel.data.attributes.has_wifi" #wifi="ngModel">
          <label for="">Wifi</label>

          <input type="checkbox" name="parking" [(ngModel)]="hotelservice.hotel.data.attributes.has_parking" #parking="ngModel">
          <label for="">Parking</label>

          <input type="checkbox" name="pets" [(ngModel)]="hotelservice.hotel.data.attributes.has_pets" #pets="ngModel">
          <label for="">Pets allowed</label>

          <input type="checkbox" name="restaurant" [(ngModel)]="hotelservice.hotel.data.attributes.has_restaurant" #restaurant="ngModel">
          <label for="">Restaurant</label>

          <input type="checkbox" name="bar" [(ngModel)]="hotelservice.hotel.data.attributes.has_bar" #bar="ngModel">
          <label for="">Bar</label>

          <input type="checkbox" name="swimmingpool" [(ngModel)]="hotelservice.hotel.data.attributes.has_swimming_pool" #swimmingpool="ngModel">
          <label for="">Swimming Pool</label>

          <input type="checkbox" name="airconditioning" [(ngModel)]="hotelservice.hotel.data.attributes.has_air_conditioning" #airconditioning="ngModel">
          <label for="">Air conditioning</label>

          <input type="checkbox" name="gym" [(ngModel)]="hotelservice.hotel.data.attributes.has_gym" #gym="ngModel">
          <label for="">Gym</label>
      </div>