<main class="main">
    <div class="title_container">
        <h2>{{title}}</h2>
        <div class="drop_down" alt="arrow" (click)="changeShowStatus()" [ngClass]="{'up_arrow': showHide}"> </div>
    </div>

    <form [hidden]="!showHide" class="form" #form="ngForm">

        <div class="form-group">
            <label for="">Hotel Name</label>
            <input type="text" class="form-control" name="name"
            required [(ngModel)]="hotelservice.hotel.data.attributes.name" #name="ngModel">
        </div>

        <div class="form-group">
            <label for="">Locatiton</label>
            <input type="text" class="form-control" name="location"
            required [(ngModel)]="hotelservice.hotel.data.attributes.location" #location="ngModel">
        </div>

        <app-starrating></app-starrating>

        <div class="form-group">
            <label for="">Meal Plan</label>
            <select class="meal" name="meals" [(ngModel)]="hotelservice.hotel.data.attributes.meal_plan"  #meal1="ngModel">
                <option value="american_plan">American Plan</option>
                <option value="modified_american_plan" name="meal2">Modified American Plan</option>
                <option value="continental_plan" name="meal2">Continental Plan</option>
                <option value="european_plan" name="meal2">European Plan</option>
            </select>

        </div>
        <hotel-attributes></hotel-attributes>

        <div class="button-group">
            <button class="send-button" [disabled]="form.invalid" (click)="onRegistration()" (click)="changeShowStatus()">Add</button>
            <span class="spinner" [hidden]="!loading"></span>
        </div>

    </form>

</main>

<section class="allhotels">
    <div class="hotel" *ngFor="let hotel of hotelservice.hotel.hotelList.data">
        <div class="hotel_details">
            <img class="hotel-image" src="{{hotel.attributes.main_image_src}}" alt="hotel_image">
            <div class="hotel_information">
                <h3 (click)="getHotelId(hotel.id)">{{hotel.attributes.name}}</h3>
                <h4>{{hotel.attributes.location}}</h4>
                <p> <strong>meal plan:</strong> {{hotel.attributes.meal_plan}}</p>
                <ul>
                    <li><span [ngClass]="{'marked': hotel.attributes.has_wifi, 'not_marked': !hotel.attributes.has_wifi}"></span>wifi</li>
                    <li><span [ngClass]="{ 'marked': hotel.attributes.has_parking, 'not_marked': !hotel.attributes.has_parking }"></span>parking</li>
                    <li><span [ngClass]="{ 'marked': hotel.attributes.has_pets, 'not_marked': !hotel.attributes.has_pets }"></span>pets allowed</li>
                    <li><span [ngClass]="{ 'marked': hotel.attributes.has_restaurant, 'not_marked': !hotel.attributes.has_restaurant }"></span>restaurant</li>
                    <li><span [ngClass]="{ 'marked': hotel.attributes.has_bar, 'not_marked': !hotel.attributes.has_bar }"></span>bar</li>
                    <li><span [ngClass]="{ 'marked': hotel.attributes.has_swimming_pool, 'not_marked': !hotel.attributes.has_swimming_pool }"></span>swimming pool</li>
                    <li><span [ngClass]="{ 'marked': hotel.attributes.has_air_conditioning, 'not_marked': !hotel.attributes.has_air_conditioning }"></span>air conditioning</li>
                </ul>
            </div>
        </div>
        <div class="icons">
            <span (click)="deleteHotelId(hotel.id)" class="delete_hotel"></span>
            <div>
                <span class="hotel-star">{{hotel.attributes.stars}}</span>
            </div>
        </div>
    </div>
</section>
