<main class="main">
    <div class="title_container">
        <h2>{{title}}</h2>
        <div class="drop_down" alt="arrow" (click)="changeShowStatus()" [ngClass]="{'up_arrow': showHide}"> </div>
    </div>

    <form [hidden]="showHide" class="login-form" #form="ngForm">

        <div class="form-group">
            <label for="">Hotel Name</label>
            <input type="text" class="form-control" name="name"
            required [(ngModel)]="hotelservice.hotel.data.attributes.name" #name="ngModel">
        </div>

        <div class="form-group">
            <label for="">Locatiton</label>
            <input type="text" class="form-control" name="location"
            required [(ngModel)]="hotelservice.hotel.data.attributes.location" #location="ngModel">
        </div>

        <app-starrating></app-starrating>

        <div class="form-group">
            <label for="">Meal Plan</label>
            <select class="meal" name="meals" [(ngModel)]="hotelservice.hotel.data.attributes.meal_plan"  #meal1="ngModel">
                <option value="american_plan">American Plan</option>
                <option value="modified_american_plan" name="meal2">Modified American Plan</option>
                <option value="continental_plan" name="meal2">Continental Plan</option>
                <option value="european_plan" name="meal2">European Plan</option>
            </select>

        </div>
        <hotel-attributes></hotel-attributes>

        <div class="button-group">
            <button class="login-button" [disabled]="form.invalid" (click)="onRegistration()">Add</button>
            <span class="spinner" [hidden]="!loading"></span>
        </div>

    </form>

</main>
