<body>
    <div class="page">
        <header class="header">

            <nav class="header__navbar">
                <a routerLink="/" (click)="setIsItLogin()">Home</a>
                <a [hidden]="!setLoggedOut()" routerLink="/login" (click)="setIsItLogin()">Login</a>
                <a [hidden]="setLoggedOut()" routerLink="/login" (click)="clearSessionStorage()">Logout</a>
            </nav>

            <h1>
                {{title}}
            </h1>

        </header>
        <home-page [hidden]="isItLogin"></home-page>
        <router-outlet></router-outlet>
    </div>
</body>
