.page {
    margin: auto;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.header h1 {
    color: #353637;
    padding-top: 30px;
}

.header__navbar {
    position: fixed;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #353637;
}

.header__navbar a {
    text-decoration: none;
    color: white;
    padding: 5px;
}
