<section class="allrooms">
    <div class="room" *ngFor="let room of roomservice.room.roomList.data">
        <div class="room_details">
            <div class="room_title__container">
                <div class="">
                    <div class="room_icon"></div>
                    <h3 class="room_title">{{room.attributes.room_name}}</h3>
                </div>
                <span (dblclick)="deleteRoomId(hotelservice.hotel.hotelWithId.data.hotel_id, room.room_id)" class="delete-room"></span>
            </div>
            <div class="room_info_container">
                <div class="room_desc">
                    <h4>Room description</h4>
                    <p>{{room.attributes.description}}</p>
                </div>
                <ul class="room_info">
                    <li class="room_info-title">Price and currency</li>
                    <li><div class="money_icon"></div>{{room.attributes.price}} {{room.attributes.currency}}</li>
                    <li class="room_info-title">Max occupancy</li>
                    <li><div class="bag_icon"></div>{{room.attributes.max_occupancy}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
